
.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://github.com/simonborst/Simon-Borst-Website/blob/master/images/whale-backdrop.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;