
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('images/whale-backdrop.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}